.Oportunitati {

}

.Oportunitati-Content {
  width: 500px;
  background-color: #2ecc71;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
}

.Oportunitati-Content-Day {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Oportunitati-Content-Day h5 {
  margin-bottom: 4px;
}

.Oportunitati-Content img {
  width: 40%;
}

.Oportunitati-Content i {
  padding-right: 8px;
}

.Oportunitati-Content-Container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.Oportunitati-Content-Container .Button {
  margin-top: 30px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.Oportunitati .Title {
  padding-bottom: 12px;
  text-align: center;
}

.Oportunitati .Search {
  margin-bottom: 6px;
}

.Oportunitati-SearchBar {
  display: flex;
  justify-content: center;
}

.Oportunitati-SearchBar .Search input {
  width: 370px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.Oportunitati-SearchBar .Button {
  padding: 0 10px;
}

.Oportunitati-Description {
  background-color: #e67e22;
  color: white;
  padding: 20px;
  width: 500px;
  margin-bottom: 20px;
  padding-top: 120px;
  margin-top: -100px;
}

.OportunitateNoua {
  padding-top: 60px;
}

.OportunitateNoua input, .OportunitateNoua textarea {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  margin-bottom: 4px;
  border: 0;
}

.OportunitateNoua textarea {
  height: 100px;
}