.LoginButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Login .Button {
  width: 280px;
  border-bottom: 2px solid #2ecc71;
  margin-bottom: 4px;
}

.Login .Title {
  text-align: center;
}

.Login .BigImage {
  height: 100vh;
}