header {
  position: fixed;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  padding: 2px;
  padding-top: 3px;
  box-shadow: 0 0 1px 1px rgba(30, 30, 30, 0.2);
}

header .ProfileImage {
}

header .ProfileImage:hover > .Profile-imageContainer {
  border: 1px solid white;
}

header nav {
  margin-right: 12px;
  margin-left: 8px;
}

header nav a {
  font-weight: 700;
  color: #2ecc71;
  text-decoration: none;
  margin-left: 8px;
  transition-duration: 0.4s;
}

header nav a:hover {
  transform: rotate(5deg);
}

header nav a:first-child:hover {
  transform: rotate(-5deg);
 }

 header nav a {
  font-weight: 700;
  color: #2ecc71;
  text-decoration: none;
  margin-left: 8px;
  transition-duration: 0.4s;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.BigImage {
  transition-duration: 0.4s;
}

@media (max-width: 700px) {
  .BigImage {
    padding-top: 50px;
  }
}